
*.bat

ffmpeg/ffprobe.exe

ffmpeg/ffplay.exe

ffmpeg/ffmpeg.exe

.idea/*

build/*

dist/*

tests/*

__pycache__/

install.json

submission2.ui

vfx-transcode/ffmpeg/ffmpeg.exe

vfx-transcode/fonts/DroidSansMono.ttf

vfx-transcode/fonts/FreeMonoBold.ttf

vfx-transcode/ocio/aces_1.2cg/config.ocio

vfx-transcode/ocio/aces_1.2cg/luts/ACEScc_to_linear.spi1d

vfx-transcode/ocio/aces_1.2cg/luts/ACEScct_to_linear.spi1d

vfx-transcode/ocio/aces_1.2cg/luts/ADX_CID_to_RLE.spi1d

vfx-transcode/ocio/aces_1.2cg/luts/InvRRT.Rec.709.Log2_48_nits_Shaper.spi3d

vfx-transcode/ocio/aces_1.2cg/luts/InvRRT.sRGB.Log2_48_nits_Shaper.spi3d

vfx-transcode/ocio/aces_1.2cg/luts/linear_to_rec709.spi1d

vfx-transcode/ocio/aces_1.2cg/luts/linear_to_sRGB.spi1d

vfx-transcode/ocio/aces_1.2cg/luts/Log2_48_nits_Shaper_to_linear.spi1d

vfx-transcode/ocio/aces_1.2cg/luts/Log2_48_nits_Shaper.RRT.Rec.709.spi3d

vfx-transcode/ocio/aces_1.2cg/luts/Log2_48_nits_Shaper.RRT.sRGB.spi3d

vfx-transcode/ocio/aces_1.2cg/luts/V3_LogC_800_to_linear.spi1d

vfx-transcode/oiio/avcodec-58.dll

vfx-transcode/oiio/avformat-58.dll

vfx-transcode/oiio/avutil-56.dll

vfx-transcode/oiio/boost_filesystem-vc142-mt-x64-1_79.dll

vfx-transcode/oiio/boost_thread-vc142-mt-x64-1_79.dll

vfx-transcode/oiio/brotlicommon.dll

vfx-transcode/oiio/brotlidec.dll

vfx-transcode/oiio/bz2.dll

vfx-transcode/oiio/freetype.dll

vfx-transcode/oiio/gif.dll

vfx-transcode/oiio/Half-2_5.dll

vfx-transcode/oiio/harfbuzz.dll

vfx-transcode/oiio/iconvert.exe

vfx-transcode/oiio/icudt71.dll

vfx-transcode/oiio/icuin71.dll

vfx-transcode/oiio/icuuc71.dll

vfx-transcode/oiio/idiff.exe

vfx-transcode/oiio/Iex-2_5.dll

vfx-transcode/oiio/igrep.exe

vfx-transcode/oiio/iinfo.exe

vfx-transcode/oiio/IlmImf-2_5.dll

vfx-transcode/oiio/IlmThread-2_5.dll

vfx-transcode/oiio/Imath-2_5.dll

vfx-transcode/oiio/Imath-3_1.dll

vfx-transcode/oiio/iv.exe

vfx-transcode/oiio/jasper.dll

vfx-transcode/oiio/jpeg62.dll

vfx-transcode/oiio/lcms2.dll

vfx-transcode/oiio/libexpat.dll

vfx-transcode/oiio/liblzma.dll

vfx-transcode/oiio/libpng16.dll

vfx-transcode/oiio/maketx.exe

vfx-transcode/oiio/oiiotool.exe

vfx-transcode/oiio/OpenColorIO_2_1.dll

vfx-transcode/oiio/OpenImageIO_Util.dll

vfx-transcode/oiio/OpenImageIO.dll

vfx-transcode/oiio/pcre2-16.dll

vfx-transcode/oiio/plugins/imageformats/qgif.dll

vfx-transcode/oiio/plugins/imageformats/qico.dll

vfx-transcode/oiio/plugins/imageformats/qjpeg.dll

vfx-transcode/oiio/plugins/platforms/qwindows.dll

vfx-transcode/oiio/plugins/styles/qwindowsvistastyle.dll

vfx-transcode/oiio/qt.conf

vfx-transcode/oiio/Qt5Core.dll

vfx-transcode/oiio/Qt5Gui.dll

vfx-transcode/oiio/Qt5Widgets.dll

vfx-transcode/oiio/raw_r.dll

vfx-transcode/oiio/swresample-3.dll

vfx-transcode/oiio/swscale-5.dll

vfx-transcode/oiio/tiff.dll

vfx-transcode/oiio/vcruntime140_1.dll

vfx-transcode/oiio/webp.dll

vfx-transcode/oiio/webpdemux.dll

vfx-transcode/oiio/yaml-cpp.dll

vfx-transcode/oiio/zlib1.dll

vfx-transcode/oiio/zstd.dll

vfx-transcode/vfx-transcode.exe

default.json

dist.zip
